:root {
  --background: #2B032D;
  --light_blue: white;
  --dark_grey: #250F2A;
  --textarea: #fafafa;
  --light_grey: #848484;
  --green: #FF0072;
  --blue: #6D071A;
  font-family: sans-serif;
}

/* browsers specific code */
/* Only Chrome */
html::-webkit-scrollbar {width: 17px;}
html::-webkit-scrollbar-thumb {background-color: var(--light_blue); background-clip: padding-box; border: 1px solid var(--background);}
html::-webkit-scrollbar-track {background-color: var(--light_blue); }
::-webkit-scrollbar-button {background-color: var(--background);}
/* Only IE */
html {scrollbar-face-color: var(--light_blue); scrollbar-shadow-color: var(--background); scrollbar-highlight-color: var(--background);}
/* Only FireFox */
html {scrollbar-color: var(--light_blue) var(--background);}
/* View Scrollbar */

body {
	overflow: auto;
  height: 100%;
  width: 100%;
  background: var(--background);
}

p {

}

/*-------------- background -------------------------*/

#toptriangle1 {
	height: 100%;
	width: 100%;
	position: absolute;
	background: var(--green);
	background: -moz-linear-gradient(top,  var(--green) 0%, var(--blue) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%,var(--green)), color-stop(100%,var(--blue))); /* Chrome,Safari4+ */
	-webkit-linear-gradient(top,  var(--green) 0%,var(--blue) 100%);
}

#cuttriangle1 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: conic-gradient(at 50% 60%, transparent 49deg, var(--background) 50deg,
		var(--background) 310deg, transparent 311deg);
}

#shape2 {
	height: 100%;
	width: 50%;

	top: 70%;
	left: 53%;
	position: absolute;
	background: var(--green);
	background: -moz-linear-gradient(top,  var(--green) 0%, var(--blue) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%,var(--green)), color-stop(100%,var(--blue))); /* Chrome,Safari4+ */
	-webkit-linear-gradient(top,  var(--green) 0%,var(--blue) 100%);

	-webkit-transform: rotate(48deg);
          transform: rotate(48deg);
}

textarea {
  margin-left: 1%;
  margin-right: 1%;
  background-color: #423446;
  resize: none;
  border: none;
  color: white;
  transition: all 0.25s ease-in-out;
}


#warning {
  margin-top:5%;
  left: 2%;
  color : red;
  display: block;
  position: relative;
  align-items: center;
}

#warning p{
  margin-left:3%;
  font-size: 20px;
}

#warning img {
  width: 1.8%;
  float: left;
  position : relative;
}

/*------------ parties clear et cipher ---------------*/

#clearDiv {
  top :30%;
  height: 100%;
  width: 100%;
  color: white;
  position: relative;
  z-index: 2;
  display:none;
}

#clearsubDiv {
  top :30%;
  height: 100%;
  width: 100%;
  color: white;
  position: relative;
  z-index: 2;
  display:none;
}

#cipherDiv {
  height: 100%;
  display : none;
  top: 30%;
  color: white;
  position: absolute;
  z-index: 2;
}

/*--------- chiffrement -----------*/
/* ------ Cesar -----------------------------*/
.cesar {
  position: relative;
  left: 5%;
}

.cesar h1 {
  font-size: 43px;
  width: 640px;
  margin-left: 40px;
  color: white;
}

.cesar p {
  width: 650px;
  font-size: 20px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #E6E2E2;
}

.cesar ul {
  list-style: none;
  display: inline-flex;
  margin: 5%;
  align-items: center;
}

.cesar li {
  list-style: none;
  display: inline-flex;
  margin: 5%;
  align-items: center;
}

/*-----------substitution ------------*/
.substitution {
  position: relative;
  left: 5%;
}

.substitution h1 {
  font-size: 43px;
  width: 640px;
  margin-left: 40px;
  color: white;
}

.substitution p {
  width: 650px;
  font-size: 20px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #E6E2E2;
}

.substitution ul {
  list-style: none;
  margin-top: 4%;
  align-items: center;
}

.substitution ul:first-child {
  display: inline-flex;
}


.substitution li {
  list-style: none;
  display: inline-flex;
  align-items: center;
  color: white;
}

#subst-space {
  text-align: center;
}

#mytable {
  border: none;
  color:white;
}

#mytable td {
  border: none;
  padding: 10px;
  text-align: center;
}

#alphabet-subst {
  border: none;
  color:white;
  margin-right: auto;
  margin-left: auto;
}

#alphabet-subst td {
  border: none;
  padding: 10px;
  text-align: center;
}

#mytable2 {
  border: none;
  color:white;
}

#mytable2 td {
  border: none;
  padding: 10px;
  font-display: center;
}

#subst-out {
  width: 50%;
  margin: 5%;
}

#subst-alpha {
  font-family: 'Courier New', monospace;
  border-color: var(--ligth_grey);
  color: var(--textarea);
  word-break: break-all;
  white-space: normal;
  margin-left: 15%;
}

/*---------------- barre déroulante en haut -----------------------*/
/* ----------------------------------------------
 * Generated by Animista on 2021-2-18 20:24:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-tl
 * ----------------------------------------
 */
@-webkit-keyframes slide-tl {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px) translateX(-100px);
            transform: translateY(-100px) translateX(-100px);
  }
}
@keyframes slide-tl {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px) translateX(-100px);
            transform: translateY(-100px) translateX(-100px);
  }
}

/**
 * ----------------------------------------
 * animation slide-br
 * ----------------------------------------
 */
@-webkit-keyframes slide-br {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
	0% {
    opacity: 0;
    -webkit-transform: translateY(100px) translateX(100px);
            transform: translateY(100px) translateX(100px);
  }
}
@keyframes slide-br {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px) translateX(100px);
            transform: translateY(100px) translateX(100px);
  }
}

#menu-nav {
  z-index: 3;
	width: 100%;
  margin: auto;
	height: 70px;
  background-color: var(--dark_grey);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	display: block;

	-webkit-animation: slide-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#navigation-bar ul {
  overflow: hidden;
}

#navigation-bar label {
position : absolute;
margin-top : 10px;
}

#navigation-bar li {
  float: left;
	/* to be perfect x::= 100 / nbElem in ul */
}

#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}

#navigation-bar a {
  color: var(--ligth_grey);
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 16px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
	white-space: nowrap;
}

#navigation-bar #last {
	float: right;
	margin-right: 3%;
  color: white;
}

#navigation-bar a:hover {
  color: var(--light_blue);
}

#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: var(--light_blue);
}

#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}

#navigation-bar img {
  position: absolute;
  width: 110px;
  margin-left: 2%;
}

li {
	list-style: none;
}

#text-bar ul {
  height: 100%;
  overflow: hidden;
}

#text-bar p {
  float: left;
	/* to be perfect x::= 100 / nbElem in ul */
  width: 10%;
	margin: 0 0 0 0;
}

#text-bar li:hover a::before {
  right: 0;
  left: 0;
}

#text-bar a {
  color: var(--ligth_grey);
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 30%;
  display: block;
  position: relative;
  transition: all 0.3s ease;
	white-space: nowrap;
}

#text-bar a:hover {
  color: var(--light_blue);
}

#text-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: var(--light_blue);
}

#text-bar a:hover::before {
  right: 0;
  left: 0;
}

#menu-text textarea {
  font-family: 'Courier New', monospace;
	background-color: #423446;
  font-size: 15px;
  resize: none;
  border-color: var(--ligth_grey);
  color: var(--textarea);
}

#menu-text textarea:focus {
  outline-color: transparent;
  outline-style: none;
}

#menu-text {
  z-index: 3;
  width: 100%;
  margin: auto;
	height: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	position: fixed;
  display:none;
	-webkit-animation: slide-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  border: 1px solid transparent;
  background-image: linear-gradient(#2B0334, #2B0334), radial-gradient(circle at top left, #9b046f, #4b076d,#560753,#6d071a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#text-bar li {
	float: left;
	/* to be perfect x::= 100 / nbElem in ul */
  width: 42%;
  color: white;
  font-size: 15px;
  font-style: italic;
}

#cipher, #clear {
  margin-top: 1%;
	width: 95%;
  height: 55%;
}

#oldLetters, #newLetters {
  width: 50px;
  margin-top: 1%;
  color: white;
  background-color: #584e4e;
  border: none
}

#replace-btn {
  margin: 0% 0% 0% 1%;
}

#undo {
  margin: 0% 0% 0% 21%;
}

#redo, #clearAll {
  margin: 0% 0% 0% 1%;
}

#menu-text textarea:focus {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: var(--ligth_grey);

  box-shadow: 0 0 5px var(--ligth_grey);
}

/*------------- depart (page par defaut) ------------------*/
#banner {
	margin-top: 10%;
	left: 10%;
	position: relative;
	color: white;
}

.app-text {
  width: 50%;
}

.app-text p {
  text-align: justify;
	width: 60%;
	font-size: 22px;
	margin: 2% 0% 2% 3%;
	line-height: 25px;
	color: #E6E2E2;
}

#picture {
  right: 300px;
  top: -180px;
  float: right;
  position : relative;
}

#picture img {
  width: 550px;

}
/*-------------- inputs et boutton page defaut---------------------*/

.container-2 {
  margin-bottom: 50px;;
}

#control-panel {
  margin-top: 10%;
	position: relative;
	color: white;
}

#control-panel h1 {
  margin-top: 10%;
	position: relative;
	color: white;
}

#control-panel p {
  text-align: justify;
  margin-top: 5%;
	width: 50%;
	font-size: 20px;
	margin: 2% 0% 2% 2%;
	line-height: 25px;
	color: #E6E2E2;
}

#control-panel ul {
  text-align: justify;
  margin-top:5%;
  overflow: hidden;
	display: inline-flex;
  align-items: center;
}

#control-panel li {
	margin: 5px 20px 5px 0;
}

#control-panel textarea {
  font-family: 'Courier New', monospace;
	background-color: var(--dark_grey);
  resize: none;
  border-color: var(--ligth_grey);
  color: var(--textarea);
  width: 500;
  height: 150;
  font-size: 20px;
}

#control-panel textarea:focus {
  outline-color: transparent;
  outline-style: none;
}

.encrypt-btn  {
    padding: 0;
    position: relative;
    color: white;
    margin: 30px;
    display: inline-flex;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#2B0334, #2B0334),    radial-gradient(circle at top left, #ff0072, #9b046f, #4b076d,#560753,#6d071a);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
    cursor: pointer;
    padding : 0;
}

.encrypt-btn:before {
    content: '';
    background: linear-gradient(45deg, #FCC252, #FF6D67,#FF117F,#FF00A2,#94008C);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    text-align: center;

}

.encrypt-btn:active {
    color: #000
}

.encrypt-btn:active:after {
    background: transparent;
}

.encrypt-btn:hover:before {
    opacity: 1;
}

.encrypt-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;

}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.encrypt-btn  span {
  display: block;
  padding: 8px 22px;
}
/* --------------- cesar attaques ---------------------      */
#myCanvas {
  position: absolute;
  left: 40%;
  top:25%;
  border-color: white;
}

.forceBrute {
  left: 5%;
  position: relative;
}

.forceBrute li {
  list-style: none;
  margin: 0 20px;
}

.text-4,.text-2,.text-3 {
  vertical-align: middle;
  text-align: center;
}

.text-4,.text-3 {
  padding: 70px;
}

.text-4 h1,.text-2 h1,.text-3 h1 {
  font-size: 43px;
  margin-left: 40px;
  color: white;
}

.text-4 p,.text-2 p,.text-3 p {
  padding-top: 5%;
  padding-bottom: 5%;
  color: #E6E2E2;
  font-size: 20px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
}

.freq {
  padding: 50px;
  left: 5%;
  width: 100%;
  position: relative;
}

.freq li {
  list-style: none;
  margin: 0 20px;
}

.probable{
  margin-left: 150px;
  position: relative;
}

.probable li {
  padding: 25px;
  list-style: none;
}

@keyframes type {
  from { width: 0; }
}



#bonjour {
  color : white;
  position:absolute;
  margin-top:5%;
}

#keyfreq {
  text-align: center;
  font-size: 20px;
}

/* Dropdown Button */
.dropbtn {
  margin-left: 25%;
  background-color:#6D071A;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color:background-color:#6D0648;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background:transparent;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  text-decoration: none;
  display: block;
  color: whitesmoke;
  text-align: center;
  display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #2B0334;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Dropdown Button */
.dropbtn2 {
  width: 80px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  margin-left: 94%;
  margin-top: -200px;
  position: absolute;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  color: white;

  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 90px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  font-size: 13px;
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: gray;}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn {background-color: #3e8e41;}

#apropos {
  margin: 10%;
  width: 80%;
  height: 75%;
  background-color: transparent;
  position: fixed;
  display: none;
}

#apropos h1 {
  text-align: center;
  color: white;
  font-size: 50px;
}

#apropos p {
  background-color: var(--background);
  margin-left: 27%;
  width: 40%;
  text-align: justify;
  color: white;
  font-size: 15px;
  padding: 3%;
  line-height: 25px;
}

#apropos div {
  background-color: var(--background);
  margin-right: 2%;
  width: 40%;
  text-align: justify;
  color: white;
  font-size: 15px;
  padding: 3%;
  line-height: 25px;
}

/* custom select */
.select-style {
  padding: 0;
  margin: 0;
  width: auto;
  height: 43px;
  overflow: hidden;
  background-color: #2B0334;
  color: white;
  font-size: 18px;
  position: relative;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#2B0334, #2B0334), radial-gradient(circle at top left, #ff0072, #9b046f, #4b076d,#560753,#6d071a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
